<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Open Source</li>
    </ul>
</div>
<div class="container">


<div id="uploadContainer">


	<div style="margin-bottom:40px; margin-top:20px;">
		<label class="control-label">Select Test Framework</label>
		<br/>
	
		<select class="form-control" id="framework_select" name="framework_select">
			<option value="default"></option>
			<option value="nunit">nunit</option>
			<option value="boosttest">boosttest</option>
			<option value="junit">junit</option>
			<option value="gtest">gtest (googletest)</option>
		</select>
	
	</div>
	
	<div id="files_select" hidden>
		<label class="control-label">Select Files</label>
		<input id="input-ke-2" name="input-ke-2" type="file" multiple class="file-loading">
	</div>
	
	<script>
	
		var URL = "uploadfiles/upload.php?framework=" + $("#framework_select").val();
	
		$("#framework_select").on('change', function() {
			changeURL();
		});

		function changeURL () {
			
			URL =  "uploadfiles/upload.php?framework=" + $("#framework_select").val();
			$("#files_select").show();
			$.getScript( "js/fileupload.js", function( data, textStatus, jqxhr ) {
			console.log( data ); 					// Data returned
			console.log( textStatus ); 				// Success
			console.log( jqxhr.status ); 			// 200
			console.log( "Load was performed." );
			});
		}//
	
	</script>
	


</div> <!--End uploadContainer-->

<div id="processUpload" hidden>
	<!--http://getbootstrap.com/components/#progress-stacked-->
	
	<!--
	<div class="progress">
		<div class="progress-bar progress-bar-success" style="width: 100%">
    <span class="sr-only">100% Complete (success)</span>
	-->
  
  </div>
	

</div>




</div>
	

<div>
	
</div>
	